/*ROOTS */
:root{
    --blanco: #fafafa;
    --fondoHerencia: #BDAD9B
}

/* ESTILOS CONTENEDORES */
.productsInd{
    background-color: var(--fondoHerencia);
}

.loginBox{
    background-color: var(--fondoHerencia);
    height: 50vh;
    display: flex;
    align-items: center;
}

.loggin{
    height: 100vh !important;
    display: flex;
    justify-self: center;
    align-items: center;
    margin: 0 !important;
    position: relative;
}

.loginBox.full{
    height: 450px;
    position: absolute;
    width: 600px;
    top: 20%;
    left: 30%;
    background-color: transparent;
    justify-content: center;
    
}

.loginBox.registred{
    justify-content: end;
    color: var(--blanco);
    
}

.loginBox.login{
   justify-content: start;
   color: var(--blanco);
}

.cont-login,
.cont-registred{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.registro{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    height: 110%;
    color: var(--fondoHerencia);
    background-color: var(--blanco);
}

.registro button{
    width: 50%;

}

.registro div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
}

.registro input{
    background-color: var(--fondoHerencia);
    color: var(--blanco);
}

.spanError{
    display: none;
    color: red;
}

.row.rowProducts{
    transition: all 1s ease;
}

.rowFiltros{
    background-color: var(--fondoHerencia);
    color: var(--blanco);
    margin-left: 0 !important;
    width: 15%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: -30px;
}

.divFiltros{
    display: flex;
    gap: 10px;
}

.cont-filtros-talles{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 15px;
}

.productosTotales{
    width: 100%;
    height: auto;
    background-color: var(--blanco);
    margin-top: 100px;
    display: flex;
}

.img1{
    background-color:var(--fondoHerencia);
    border: 1px solid black;
    margin-top: 2rem;
    text-align: center;
    width: 290px;
    height: auto;
    gap: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    padding: 10px 10px;
    color: var(--blanco);
    overflow: hidden;
}

.cont-loader{
    width: 100%;
    height: 100%;
    background-color: var(--fondoHerencia);
    position: fixed;
    z-index: 100000;
    top: 0;
    transition: all 0.4s ease-in-out;
}

.cont-logo{
    height: 71px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cont-info{
    height: 15px;
    background-color: black;
    color: var(--blanco);
    display: flex;
    align-items: center;
    justify-content: center;
}

.cont-nav{
    height: auto;
    padding: 0;
    background-color: var(--fondoHerencia);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;;
    position: fixed;
    top: 0;
    transition: all .4s ease;
    z-index: 700;
}

.cont-menues{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 5px;
    color: var(--blanco);
}

.cont-search{
    height: 100%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin-right: 6rem;
}

.cont-cart{
    height: auto;
    background-color: var(--fondoHerencia);
    color: var(--blanco);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 2px 5px;
    cursor: pointer;
    margin-right: 2rem;
    transition: all .4s ease;
}

.hamburger,
.hamburger-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
    margin-top: 2px;
}

.carritoCompras{
    width: 50%;
    max-height: 500px;
    position: fixed;
    top: 200px;
    left: 25%;
    text-align: center;
    background-color: var(--fondoHerencia);
    color: var(--blanco);
    z-index: 500;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    transition: all .4s ease;
    overflow-y: scroll;
}

.carritoCompras::-webkit-scrollbar,
body::-webkit-scrollbar{
    background-color: var(--fondoHerencia);
    width: 8px;
}

.carritoCompras::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb{
    background:var(--blanco) ;
    border-radius: 10px;
}

th, td{
    color: var(--blanco) !important;
}

th, td{
    width: 10%;
    height: auto;
}

.imgPrincipal{
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgSecundarias{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
}

.detallesProduc{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    margin-left: -200px;
    margin-top: 80px;
    color: var(--blanco)
}

.cont-general{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 5px;
}

.prod{
    display: flex;
    justify-content: flex-start !important;
}

.cantidades.prod input{
    border: 1px solid var(--fondoHerencia)
}

/* ESTILOS INDIVIDUALES */
.bienvenido{
    position: absolute;
    top: 10%;
    left: 40%;
    color: black;
    padding: 0 20px;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 1.5rem;
    z-index: 500;
    display: none;
    font-weight: 700;
}

.nombreProd{
    margin: 0;
    color: var(--blanco);
}

.detallesProduc button{
    width: 70%;
}

.stock{
    background-color: var(--fondoHerencia);
    color: var(--blanco);
    border-radius: 3px;
    padding: 5px;
    display: none;
}

.imgPrincipal img{
    width: 400px;
    height: 400px;
    aspect-ratio: 2/6;
    cursor: pointer;
    border: 4px solid var(--fondoHerencia);
}

.imgSecundarias img{
    width: 120px;
    cursor: pointer;
    border: 4px solid var(--fondoHerencia);
}

.precioProd{
    margin: 0;
    background-color: var(--blanco);
    color: var(--fondoHerencia);
    padding: 5px;
    border-radius: 3px;
    font-size: 2.5rem;
    font-weight: 700;
}

.limpiFiltros{
    position: absolute;
    width: 160px !important;
    left: 50%;
    top: 11%;
    background-color: var(--fondoHerencia);
    text-align: center;
    color: var(--blanco);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    display: none;
    transition: all 0.4s ease;
}

.bi.bi-x.filtro{
    top: 2px;
    right: 2px;
    bottom: 0;
}

.rowFiltros h5{
    align-self: center;
}

.rowFiltros button{
    align-self: center;
    width: 70%;
    margin: 0;
}

.loader {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: block;
    margin:15px auto;
    position: relative;
    color: var(--blanco);
    left: -100px;
    box-sizing: border-box;
    animation: shadowRolling 2s linear infinite;
    top: 50%;
  }
  
  @keyframes shadowRolling {
    0% {
      box-shadow: 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0);
    }
    12% {
      box-shadow: 100px 0 white, 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0);
    }
    25% {
      box-shadow: 110px 0 white, 100px 0 white, 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0);
    }
    36% {
      box-shadow: 120px 0 white, 110px 0 white, 100px 0 white, 0px 0 rgba(255, 255, 255, 0);
    }
    50% {
      box-shadow: 130px 0 white, 120px 0 white, 110px 0 white, 100px 0 white;
    }
    62% {
      box-shadow: 200px 0 rgba(255, 255, 255, 0), 130px 0 white, 120px 0 white, 110px 0 white;
    }
    75% {
      box-shadow: 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0), 130px 0 white, 120px 0 white;
    }
    87% {
      box-shadow: 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0), 130px 0 white;
    }
    100% {
      box-shadow: 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0);
    }
  }

.carritoCompras button{
    margin: 2rem;
}

.imgProducts{
    aspect-ratio: 7/8;
    transition: all .4s ease;
    cursor: pointer;
}

.imgProducts:hover{
    transform: scale(1.05)
}

.bi-x{
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 20px;
    cursor: pointer;
    transition: all .4s ease;
}

.imgCarrito{
    width: 100%;
    aspect-ratio: 7/8;
}

.eliminar{
    background: transparent;
    border: none;
    color: var(--blanco);
    transition: all .4s ease;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cartAlert{
    width: 80%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 600;
    top: 100px;
    left: 9%;
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
    transition: all .4s ease;
    display: none;
}

.seeAll{
    border-radius: 5px;
    background-color: var(--fondoHerencia);
    color: var(--blanco);
    border: solid 1px var(--blanco);
    transition: all .3s ease;
    margin: 4rem 0;
    height: 40px;
    padding: 0 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 8px 8px;
}

.hamburger-inner, 
.hamburger-inner::after, 
.hamburger-inner::before{
    width: 30px;
}

.menu{
    font-size: 10px;
}

ul li a{
    text-decoration: none;
    color: var(--blanco);
    padding: 3px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s ease;
}

.logo{
    height: 50px;
    margin-left: 2rem;
}

.cont-info span{
    font-size: 9px;
}

.cont-menues ul{
    height: 100%;
    max-width: 200px;
    margin-bottom: 0;
    padding-left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.cont-menues ul li{
    list-style: none;
    height: auto;
    
}

.cont-search .search{
    width: 70%;
}

.cart{
    width: 20px;
}

.circleCart{
    display: none;
}

.search{
    border-radius: 5px;
    border: none;
    padding: 0 10px;
    outline-color: var(--fondoHerencia);
    color: var(--fondoHerencia);
}

.buttonSearch{
    border-radius: 5px;
    background-color: var(--fondoHerencia);
    color: var(--blanco);
    border: solid 1px var(--blanco);
    transition: all .4s ease;
}

.whats{
    width: 40px;
    position: fixed;
    z-index: 600;
    bottom: 20px;
    right: 20px;
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
    transition: all .4s ease;
}

.whatsAlert{
    width: 150px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 600;
    bottom: 6px;
    right: 70px;
    padding: 15px 1px;
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
    transition: all .4s ease;
}

.buttonFiltros{
    display: none;
}

h5{
    color: var(--blanco);
}

/* HOVER */
.registro button:hover{
    width: 70%;
}

.bi-x:hover,
.eliminar:hover{
    background-color: var(--blanco);
    color: var(--fondoHerencia);
    border-radius: 50%;
}

.buttonSearch:hover{
    background-color: var(--blanco);
    color: var(--fondoHerencia);
    border: solid 1px var(--fondoHerencia);
}

ul li a:hover{
    background-color: var(--blanco);
    color: var(--fondoHerencia);
    border-radius: 5px;
    padding: 5px 10px;
}

.scroll .buttonSearch:hover{
    background-color: var(--fondoHerencia);
    color: var(--blanco);
}

.scroll a:hover, .scroll .cont-cart:hover{
    background-color: var(--fondoHerencia);
    color: var(--blanco);
}

.cont-cart:hover{
    background-color: var(--blanco);
    color: var(--fondoHerencia);
    padding: 5px;
}

.whats:hover{
    width: 45px;
}

.rowFiltros button:hover{
    width: 90%;
}

/* ESTILOS TOGGLE JAVASCRIPT */
.scroll{
    background-color: var(--blanco);
    border-bottom: 1px solid black;
}

.scroll .cont-cart{
    background-color: var(--blanco);
    color: var(--fondoHerencia);
}

.scroll a{
    color: var(--fondoHerencia);
}

.scroll .buttonSearch{
    background-color: var(--blanco);
    color: var(--fondoHerencia);
    border: solid 1px var(--fondoHerencia);
}

.scroll .search{
    background-color: var(--fondoHerencia);
    color: var(--blanco);
    border: 1px solid black;
}

.scroll .search::placeholder{
    color: var(--blanco);
}

/* MEDIA QUERIES */
@media (max-width: 800px) {

    body{
        position: relative;
    }

    .cont-nav{
        align-items: center;
        height: auto;
        justify-content: space-between;
        gap: 0;
    }
    .cont-menues{
        width: 100%;
        height: 100vh;
        padding: 0;
        position: fixed;
        right: 100%;
        top: 60px;
        transition: all .8s ease;
        background-color: var(--fondoHerencia);
        color: var(--blanco);
    }

    .scroll .navBarToggle{
        background-color: var(--blanco);
    }

    .scroll .searchToggle{
        background-color: var(--blanco);
    }

    .scroll .search{
        background-color: var(--blanco);
        border: 1px solid var(--fondoHerencia);
    }

    .scroll .search::placeholder{
        color: var(--fondoHerencia);
    }

    .cont-menues ul{
        flex-direction: column;
        justify-content: flex-start;
        margin-top: 2rem;
    }

    .cont-search{
        position: absolute;
        top: 196px;
        right: 100%;
        margin: 0;
        margin-top: 4rem;
        background-color: var(--fondoHerencia);
        width: 101%;
        transition: all .8s ease;
    }
    
    .spanCart{
        display: none;
    }

    .cont-cart{
        height: 71px;
        margin-right: 1rem;
    }

    .cart{
        height: 60%;
        width: 90%;
        position: relative;
    }

    .scroll .circleCart{
        background-color: var(--fondoHerencia);
        color: var(--blanco);
    }

    .navBarToggle{
        right: 0;
        top: 60px;
        transition: all .8s ease;
        display: flex;
    }

    .searchToggle{
        right: -1px;
        transition: all .8s ease;
    }

    .logo{
        margin: 0;
        
    }

    .circleCart{
        width: 20px;
        height: 20px;
        background-color: var(--blanco);
        color: var(--fondoHerencia);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        position: absolute;
        top: 15px;
        right: 15px;    
    }

    .carritoCompras{
        width: 95%;
        max-height: 100vh;
        position: fixed;
        top: 1%;
        left: 2%;
        text-align: center;
        background-color: var(--fondoHerencia);
        color: var(--blanco);
        z-index: 900;
        padding: 20px 0px 5px 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        display: none;
        transition: all .4s ease;
        overflow: auto;
    }

    .carritoCompras button{
        margin: 0;
    }

    .trCarrito th{
        padding: 0 !important; 
    }

    .trTotal th:nth-child(-n+2){
        display: none;
    }

    .trCarrito td:nth-child(3),
    .trCarrito td:nth-child(4){
        display: none;
    }

    thead tr th:nth-child(3),
    thead tr th:nth-child(3){
        display: none;
    }

    .bi.bi-cart{
        font-size: 2rem;
    }

    .cartAlert{
        height: auto;
    }

    .productosTotales{
        flex-direction: column;
        align-items: center;
    }

    .productosTotales.individuales{
        margin-top: 70px;
    }

    #filtros{
        right: 20px;
        top: 10px;
    }

    .rowFiltros{
        width: 100vw;
        height: 100vh;
        align-items: center;
        margin-top: 20px;
        position: absolute;
        top: -110px;
        left: -500px;
        z-index: 800;
        transition: all 0.8s ease;
    }

    .rowFiltros.left{
        left: 0px !important;
    }

    .displayF{
        display: flex;
    }
    .displayN{
        display: none !important;
    }

    .cont-filtros-talles{
       width: 60%;
    }

    .buttonFiltros{
        display: block;
    }

    .limpiFiltros{
        top: 70px;
        left: 32%;
    }
    
    .row.rowProducts{
        margin-top: 50px;
    }

    .detallesProduc{
        margin: 0;
    }

    .loggin{
        flex-direction: column;
        height: 100vh;
    }

    .loginBox.login,
    .loginBox.registred{
    justify-content: center;
    align-items: flex-end
    }

    .loginBox.login{
        align-items: center;
        margin-top: -32px;
    }

    .loginBox.full{
        left: 0%;
        top: 250px;
        height: 50%;
        width: 100%;
    }

    .cont-login{
        margin-top: -50px;
    }

    .cont-registred{
        margin-bottom: 30px;
    }

    .bienvenido{
        top: 30px;
        left: 60px;
        z-index: 500;
    }
}


